<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
    <main>
    {{ content }}
    </main>
  </body>
</html>
